.bg-jupython-dark {
  background-color: #1a1d21;
}

.smaller {
  font-size: 0.75rem;
}

.text-orange {
  color: #f39c12;
}

.bg-jupython-orange {
  background-color: #f39c12;
}

.progress-bar {
  transition: width 1s ease-in-out;
}