.bg-jupython-dark-card {
  background-color: #1a1d21;
}

.smaller {
  font-size: 0.75rem;
}

.certificate-card {
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid rgba(255, 255, 255, 0.05);

  &:hover {
    transform: translateY(-5px);
    border-color: #f39c12 !important; // Ton orange Jupython
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4) !important;
  }
}

.btn-jupython-outline-green {
  border: 1px solid #2ecc71;
  color: #2ecc71;
  background: transparent;
  transition: all 0.2s ease;

  &:hover {
    background-color: #2ecc71;
    color: white;
  }
}

.text-jupython-orange {
  color: #f39c12;
}

.pdf-embed {
  background-color: #525659; // Couleur typique du lecteur PDF
}